.portada_ {
    width: 100%;
    top: 0px;
    left: 0px;
}

.perfil_ {
    position:relative;
    width: 15%;
    top: -230px; left: 45px;

}

.datos_1 {
    position: relative;
    top: -230px;
    left: 30px;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 44%;
}

.bloque_1 {
    
}